@model PartyInvites.Models.GuestRespone

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="panel panel-success">
         <div class="panel-heading text-center"><h4>RSVP</h4></div>
         <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                    <div class="form-group">
                        <label>Your name: </label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Your email: </label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Your phone:</label>
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Example: 79204556887" })
                    </div>
                    <div class="form-group">
                        <label>Will your attend?</label> 
                        @Html.DropDownListFor(x => x.WillAttend, new[] {
                            new SelectListItem() {Text = "Yes, I'll be there", Value = bool.TrueString},
                            new SelectListItem() {Text = "No, I can't come", Value = bool.FalseString}
                            }, "Choose an option", new { @class = "form-control" })
                    </div>
           
           <div class="text-center">
               <input class="btn btn-success" type="submit" value="Submit RSVP" />
           </div>
           }
         </div>
    </div>
</body>

</html>
